$color-white: #fff;
$color-primary-main: #5a11b3;
$color-primary-dark: #460a90;
$color-primary-light: #7626d8;

$color-gradient-dark : linear-gradient(91.64deg, #20010c 2.79%, #00092D 97.54%);
$color-gradient-light : linear-gradient(91.64deg, #DB2777 2.79%, #B41EE9 97.54%);

$primary-color-10: #000010;
$primary-color-5: #000005;
$text-gray: #5A6367;

$system-gray: #E6E6E6

