$color-white: #fff;
$color-primary-main: #DB2777;
$color-primary-dark: #9D174D;
$color-primary-light: #EC4899;

$color-gradient-dark : linear-gradient(91.64deg, #20010c 2.79%, #00092D 97.54%);
$color-gradient-light : linear-gradient(91.64deg, #DB2777 2.79%, #B41EE9 97.54%);