body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    color: white;
}


#splash-screen {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    background: linear-gradient(91.64deg, #20010c 2.79%, #00092D 97.54%);
}

#splash-screen img {
    margin-left: calc(100vw - 100%);
    margin-bottom: 30px;
}

#splash-screen img.img-logo-loading {
    width: 150px;
    height: auto;
}

@media screen and (max-width: 768px) {
    #splash-screen img.img-logo-loading {
        width: 40%;
    }
}

#splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.splash-spinner {
    margin-top: 14px;
    animation: rotate 2s linear infinite;
    margin-left: calc(100vw - 100%);
    width: 50px;
    height: 50px;
}

.splash-spinner .path {
    stroke: #37568B;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

#splash-screen .brand-text {
    font-size: 36px;
    color: #37568B;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

:root {
    --ck-color-base-background: rgba(0, 0, 0, 0.5) !important;
    --ck-color-base-foreground: #1e0000 !important;
    --ck-color-toolbar-background: rgba(0, 0, 0, 0.3) !important;
    --ck-color-toolbar-foreground: #023af3 !important;
    --ck-color-text: #ffffff !important;
}